<div class="navbar navbar-default " role="navigation">
   
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           	
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
               
            </ul>
            <ul class="nav navbar-nav">
            
                <li><a href="index.php">Inicio</a></li>
                 <li>
	                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anillos<b ></b></a>
	                 
                </li>
                
                <li>
	                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Carabanas<b ></b></a>
	                 
                </li>
                
                <li>
	                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pulseras<b ></b></a>

                </li>
                <li>
	                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collares<b ></b></a>

                </li>
                <li>
<!-- 	                 <a href="depilacion.php" class="dropdown-toggle">Depilacion<b ></b></a> -->
	                 
<!--                 </li> -->
                
                 <li>
	                 <a href="comoEncontrarnos.php" class="dropdown-toggle" >Cont&aacute;ctenos<b ></b></a>
	                 
                </li>
                
                <li>
                
                </li>
             
            </ul>
        </div><!--/.nav-collapse -->
  		
</div>